.cartItem {
    /* border: 2px solid red; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    border-bottom: 2px solid var(--color-secondary-dark);
}

.info {
    flex-basis: 250px;
}

.name {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.productRating {
}

.star {
    font-size: 1.5rem;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border: 2px solid var(--color-secondary-light);
}

.cartBtn {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--color-complementary);
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
}

.cartBtn:active {
    transform: translateY(2px);
}
