.cart {
    margin-top: 12rem;
}

.title {
    font-size: 3.4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.orderContainer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0 4rem 4rem 0;
}

.orderBtn {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-light);
    color: #fff;
    transition: all 0.2s;
}

.orderBtn:active {
    transform: translateY(2px);
}

.orderBtn:hover {
    background-color: var(--color-secondary-dark);
}

.totalAmount {
    font-size: 2.7rem;
    align-self: flex-end;
}

.clearBtn {
    padding: 1rem 2rem;
    margin: 0 auto 0 2rem;
    font-size: 2rem;
    color: var(--color-complementary);
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.2s;
}

.clearBtn:hover {
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .cart {
        margin-top: 10rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .orderContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 4rem auto;
    }

    .clearBtn {
        margin: 2rem auto;
    }

    .totalAmount {
        align-self: center;
    }

    .orderBtn {
        margin-top: 4rem;
    }
}
