.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./../../../img/background.jpg");
    background-size: 100% 100%;
    font-family: Oleo Script Swash Caps, sans-serif;
    overflow: hidden;
}

.photoGirl {
    width: 340px;
    position: absolute;
    bottom: 0;
    right: 20%;

    animation: animationImg 1s ease-in-out;
}

@keyframes animationImg {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.heading {
    font-size: 6rem;
    color: #fff;
    margin: 10% 0 0 7%;
    width: 60rem;
    animation: showText 1s ease-in-out;
}

.caption {
    font-size: 4rem;
    color: #fff;
    margin: 2rem 0 0 7%;
    width: 60rem;
    animation: showText 1s ease-in-out;
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btnCreate {
    width: 220px;
    height: 70px;
    background-color: var(--color-primary);

    font-size: 2.5rem;
    color: #fff;

    margin: 5rem 0 0 7%;
    border: 2px solid #af0808;
    border-radius: 10rem;
    cursor: pointer;

    transition: all 0.3s;
    animation: showButton 0.5s ease-out;
}

.btnCreate:hover,
.btnCreate:active {
    background-color: transparent;
}

@keyframes showButton {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .photoGirl {
        width: 220px;
        right: 0;
    }

    .heading {
        font-size: 4rem;
        margin-top: 40%;
        width: 90%;
    }

    .caption {
        font-size: 2.5rem;
        width: 55%;
    }

    .btnCreate {
        width: 150px;
        height: 50px;
        font-size: 1.7rem;
        margin-top: 3rem;
    }
}
